:root {
    --primary-color: #00FF41;
    --secondary-color: #38bdf8;
    --tertiary-color: #a78bfa;

    --background-color: #0f172a;
    --background-secondary: #191e29;

    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;

    --border-color: #1f2937;

    --card-bg: #111827;

    --transition: all .3s ease;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(15, 23, 42, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 50;
    border-bottom: 1px solid var(--border-color);
}



/* ================= RESET ================= */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ================= BASE ================= */
html {
    scroll-behavior: smooth;
    scrollbar-color: var(--secondary-color) #0A0A0A;
}

body {
    background-color: var(--background-secondary);
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
    line-height: 1.6;
    padding-top: 70px;
}

a {
    text-decoration: none;
}


/* ================= SOCIAL ICONS ================= */
.social-icons{
    display: flex;
    justify-content: left;
    gap: 10px;
}


/* ================= SECTIONS ================= */
section {
    padding: 6rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

/* ================= FOOTER ================= */
footer {
    text-align: center;
    padding: 2rem;
    border-top: 1px solid var(--border-color);
    color: var(--text-primary);
    font-size: 0.9rem;
}

.footer-content .footer-social-icons a {
    color: var(--text-primary);
    font-size: 1.2rem;
    transition: var(--transition);
}

.footer-content .footer-social-icons a:hover {
    color: var(--secondary-color);
}


